<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title"></div>
      </div>
      <div class="modal-body">
        <p id="note">Notes</p>
        <div class="input"></div>
      </div>

    </div>
  </div>
</div>
<!-- Container -->
<div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Mongo Scraper</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved Articles</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron text-center">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
  <div class="row" id="saved-articles">
    {{#each articles}}
    <div class='col-sm-12 mb-3'>
      <div class='card'>
        <div class='card-body'><a class='title-link' href={{ link}}>
            <h5> {{ title }} </h5>
          </a>
          <hr>
          <p class='card-text'> {{ snippet }} </p>
          <button data-id={{ _id }} class='btn-note btn btn-outline-primary btn-sm mr-1' data-toggle='modal'
            data-target='#myModal'>Note</button>
          <button id='btn-delete' data-id={{ _id }} class='btn btn-outline-danger btn-sm'>Delete</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
